{
  "name": "assistant-database",
  "compatibility_date": "2024-11-13",
  "workers_dev": false,
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "personal-assistant",
      "database_id": "<ID>"
    },
    {
      "binding": "DB_PREVIEW",
      "database_name": "personal-assistant-preview",
      "database_id": "<ID>"
    }
  ]
}