ACCESS_TOKEN=<ACCESS_TOKEN>
AUTH_REDIRECT_URL="http://localhost:5173/auth/callback"
JWT_SECRET=<JWT_SECRET>
WEBHOOK_SECRET=<WEBHOOK_SECRET>

AI_GATEWAY_TOKEN=<AI_GATEWAY_TOKEN>
ANALYTICS_API_KEY=<ANALYTICS_API_KEY>

ASSETS_BUCKET_ACCESS_KEY_ID=<ASSETS_BUCKET_ACCESS_KEY_ID>
ASSETS_BUCKET_SECRET_ACCESS_KEY=<ASSETS_BUCKET_SECRET_ACCESS_KEY>

GITHUB_CLIENT_ID=<GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<GITHUB_CLIENT_SECRET>

ANTHROPIC_API_KEY=<ANTHROPIC_API_KEY>
BEDROCK_AWS_ACCESS_KEY=<BEDROCK_AWS_ACCESS_KEY>
BEDROCK_AWS_SECRET_KEY=<BEDROCK_AWS_SECRET_KEY>
DEEPGRAM_API_KEY=<DEEPGRAM_API_KEY>
ELEVENLABS_API_KEY=<ELEVENLABS_API_KEY>
GITHUB_MODELS_API_TOKEN=<GITHUB_MODELS_API_TOKEN>
GOOGLE_STUDIO_API_KEY=<GOOGLE_STUDIO_API_KEY>
GROK_API_KEY=<GROK_API_KEY>
GROQ_API_KEY=<GROQ_API_KEY>
HUGGINGFACE_TOKEN=<HUGGINGFACE_TOKEN>
MISTRAL_API_KEY=<MISTRAL_API_KEY>
OPENAI_API_KEY=<OPENAI_API_KEY>
OPENROUTER_API_KEY=<OPENROUTER_API_KEY>
OPENWEATHERMAP_API_KEY=<OPENWEATHERMAP_API_KEY>
PERPLEXITY_API_KEY=<PERPLEXITY_API_KEY>
REPLICATE_API_TOKEN=<REPLICATE_API_TOKEN>
POLLY_ACCESS_KEY_ID=<POLLY_ACCESS_KEY_ID>
POLLY_SECRET_ACCESS_KEY=<POLLY_SECRET_ACCESS_KEY>
DEEPSEEK_API_KEY=<DEEPSEEK_API_KEY>
TAVILY_API_KEY=<TAVILY_API_KEY>
BROWSER_RENDERING_API_KEY=<BROWSER_RENDERING_API_KEY>
CARTESIA_API_KEY=<CARTESIA_API_KEY>
TOGETHER_AI_API_KEY=<TOGETHER_AI_API_KEY>
SERPER_API_KEY=<SERPER_API_KEY>
TURNSTILE_SECRET_KEY=<TURNSTILE_SECRET_KEY>